<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header class="header" id="home">

        <nav>
            <div id="logo">
                <a href="" class="header__logo"><img src="/images/logo_hotels.png"class= "logo"></a>
            </div>

            <div id="links">
                <a href="#home" class="nav__link">Home</a>
                <a href="#hotel" class="nav__link">Hotel</a>
                <a href="#about" class="nav__link">About</a>
                <a href="#contact" class="nav__link">Contact</a>
                
                <select name="language" class="language">
                    <option value="en">EN</option>
                    <option value="ru">RU</option>
                </select>
                    <!-- <span class="hotengine-shop-select-language-box">
                        <span class="hotengine-shop-select-language">
                        </span>
                        <span class="hotengine-shop-select-language-values">
                            <span class="hotengine-shop-select-language-val" data-language="ru">RU</span>
                            <span class="hotengine-shop-select-language-val" data-language="en">EN</span>
                        </span>
                    </span> -->
                <!-- <img  src="/images/bi_people-circle.png" alt="sign-in" width="60"> -->
                <a href="signin" class="nav__link" style="color:#975B02;"><b>Sign in</b></a>
            </div>
        </nav>

        <div class="background_img"></div>
    </header>
</body>
</html>